{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | TaskForge Admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/taskforge_admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><span class="taskforge-mark">TF</span> TaskForge Administration</a></h1>
{% endblock %}

{% block welcome-msg %}
<span class="taskforge-welcome"><strong>{% firstof user.get_short_name user.get_username %}</strong><small>Administrator</small></span>
{% endblock %}

{% block extrabody %}
{{ block.super }}
<script src="{% static 'admin/js/taskforge_admin.js' %}"></script>
{% endblock %}
